@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-checkbox:checked {
  appearance: auto;
  color: rgb(220, 38, 38);
  clip-path: circle(50% at 50% 50%);
  background-color: #dcdcdc;
}

.input-field {
  @apply border-b-2 w-full outline-none h-6 text-xl;
}

.btn {
  @apply mr-1 p-2 rounded-lg my-2 text-white
}

.btn-animated {
  @apply  transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-110 duration-100;
}